In [2]:
import yfinance as yf
import FinanceDataReader as fdr
import numpy as np
import pandas as pd
import os

aapl = yf.Ticker('AAPL')

aapl.history(start='2023-01-01', end='2023-12-31')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-01-03 00:00:00-05:00,129.726523,130.343884,123.642480,124.538658,112117500,0.0,0.0
2023-01-04 00:00:00-05:00,126.350936,128.113421,124.548628,125.823189,89113600,0.0,0.0
2023-01-05 00:00:00-05:00,126.589913,127.227194,124.229986,124.488876,80962700,0.0,0.0
2023-01-06 00:00:00-05:00,125.474664,129.736472,124.359420,129.069321,87754700,0.0,0.0
2023-01-09 00:00:00-05:00,129.915709,132.843221,129.338171,129.597061,70790800,0.0,0.0
...,...,...,...,...,...,...,...
2023-10-09 00:00:00-04:00,176.809998,179.050003,175.800003,178.990005,42390800,0.0,0.0
2023-10-10 00:00:00-04:00,178.100006,179.720001,177.949997,178.389999,43698000,0.0,0.0
2023-10-11 00:00:00-04:00,178.199997,179.850006,177.600006,179.800003,47551100,0.0,0.0
2023-10-12 00:00:00-04:00,180.070007,182.339996,179.039993,180.710007,56743100,0.0,0.0
2023-10-13 00:00:00-04:00,181.419998,181.929993,178.139999,178.850006,51427100,0.0,0.0

In [2]:
df = pd.read_csv('./raw data.csv')

num_MA = 3

raw_MA_columns = [f'{num_MA} MA {i}' for i in range(1, 31)]
raw_financial_columns = ['rgs_dt', 'tck_iem_cd', 'label', 'score', 'cluster', 'industry']
raw_df = df.loc[:, df.columns[df.columns.str.startswith(tuple(raw_MA_columns)) | df.columns.isin(raw_financial_columns)]]

In [4]:
tck_list = raw_df.tck_iem_cd.unique().tolist()

In [3]:
os.getcwd()

'/home/work/parrot/RL_nh/reinforcementModel_byIndustry/Data'